    .promo-section {
        margin-bottom: 20px;
    }
    .promo-content {
        padding: 20px;
    }
    .cta-button {
        background-color: #d9534f;
        color: #fff;
        border: none;
        padding: 10px 20px;
    }
    .promotion-buttons button {
        margin-bottom: 5px;
    }
    .form {
        max-width: 500px;
        margin: auto;
    }
    .label {
        display: block;
        margin-top: 10px;
    }
    .input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
    }
    .button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
    }
    .btn {
        margin: 20px 0px;
    }
    .title {
        font-weight: bold;
    }
    .arial-text {
        font-family: Arial;
        size: 13px;
    }
    .promo-style{
        background-color: rgb(238, 238, 238);
    }
    .image-size {
        height: 300px;
        width: 710px;
        text-align: center;
        align-content: center;
        border:1px solid rgb(173, 173, 173);
    }
    .container img {
        max-width:100%;
        max-height:100%;
    }